.DoctorAppointment{
    /* background-color: rgb(255, 255, 255); */
    margin: 0rem;
    padding: 0rem;
    /* height: 100vh; */
    display: flex;
    width: 80%;
    float: right;
    /* justify-content: center;*/
    align-items:flex-start;
    /* align-content: center; */
    flex-wrap: wrap; 
    font-family: "Poppins", serif;
    font-size:smaller;
    /* align-items: center;  */
    margin: 2rem;   
    /* margin-top: 5rem; */
    /* margin-left: 18%; */
    width: 100%;
}